.userList {
    flex: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            font-weight: 600;
            display: block;
            padding: 0;
            margin: 0;
        }
        .editButton{
            padding: 8px 30px;
            text-transform: uppercase;
            background-color: teal;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            cursor: pointer;
            color: white;
            &:hover{
                background-color: rgb(1, 99, 99);
            }
        }  

    }
    .table{
        height: 92%;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .userListUser{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .userListUserImage{
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
    }
    .userListEdit{
        display: flex;
        align-items: center;
        justify-content: center;

        .userListUserEdit{
            border: none;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: #3bb077;
            color: white;
            margin-right: 16px;
            cursor: pointer;
        }
        .userListDelete{
            color: #dd1a1a;
            cursor: pointer;

        }
    }

}

